---
import {useLocale} from '@utils/locale'
import {PandaConfig} from "../config.js";
const {start, footer, description} = PandaConfig;  // 添加 description
const {t, path, locale} = useLocale(Astro.url)

// 获取当前语言的描述
const currentDescription = typeof description === 'object' ? description[locale] : description
---

<footer class="mt-12 mb-6 text-sm">
    <div class="mb-1">
        {footer &&
            footer.map((item, index) => (
                <span>
                    <a 
                        href={item.title === 'rss' ? (locale === 'en' ? '/en/rss.xml' : '/rss.xml') : item.url} 
                        class="panda-link"
                    >
                        {t(`footer.${item.title}`)}
                    </a>
                    {index !== footer.length - 1 && <span class="mx-1">|</span>}
                </span>
            ))
        }
    </div>
    <div class="mb-1 flex items-center gap-6">
        <span class="text-sm">{currentDescription}</span>
    </div>
</footer>
