---
import { useLocale } from '@utils/locale'
const { title, slug, path, posts } = Astro.props
const { locale } = useLocale(Astro.url)

const en = posts.find((p) => p.file.includes(`${slug}.en`))
const defaultLang = posts.find((p) => p.file.includes(`${slug}.md`))
import Layout from '@layouts/Layout.astro'
// 启用语言切换逻辑
const { Content } = locale === 'en' ? en : defaultLang
export const prerender = true
---

<Layout title={title}>
    <div class="mt-9">
        <Content />
    </div>
</Layout>
